html, body{
  height: 100%;

}
body{
  position: relative;
  overflow-y: scroll;
}
.body_base{
  background-color: rgba(28,32,42,0);
  background-color: #f1f1f1;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  text-transform: uppercase;

}
/**/typed
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**/
.section-container{
  width: 1600px;
  margin: 0 auto;
}
.nav_menu .section-container{
  margin: 0;
}
@media (max-width: 1630px){
  .section-container{
    width:1300px;
  }

}
@media (max-width: 1330px){
  .section-container{
    width:1000px;
  }

}

@media (max-width: 1030px){
  .section-container{
    width:700px;
  }

}
@media (max-width: 730px){
  .section-container{
    width:400px;
  }

}

.main_sec{
  position: relative;
  z-index: 1;
}
.free_container {
    margin: 0 auto;
    padding: 25px 0;
}
.scroll{
  transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);

}
.paid_container {
  margin: 0 auto;
  padding: 25px 0;
}
.nav_base{
  display: table;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 60px;
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}
.Free-section{
  padding: 0 50px;

}
.Paid-section{
  padding: 0 50px;

}

.nav_back{
  background-color:  #fcfcfc;
      box-shadow: 0 0.1px 20px rgba(0,0,0,.08);
}
.nav_menu{
  margin-left: 30px;
  display: flex;
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}
.nav_base a{
    margin: 0 10px 0 10px;

}
.Free_BG{
  position: relative;
  z-index: 1;
  background-color: #f5f7fa;
  box-shadow: 0 0 50px rgba(0,0,0,0.08);
}
.Paid_BG{
  position: relative;
  z-index: 0;
  background-color: #EFF3F9;
  box-shadow: 0 0 40px rgba(0,0,0,.08);
}
.nav_menu h2{
  color: rgba(86, 100, 125, 0.9);
  margin: 20px 0 20px 0;
  font-size: 20px;
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}
.nav_menu h2:hover{
  color: rgba(242, 72, 65, 0.5);
}
.green{
    color: #1EE483;

}
.nav-fixed{
    position: fixed;

}
.social_cont h1{
  text-transform: capitalize;
  font-weight: normal;
  font-size: 16px;
}
.footer ul{
  font-weight: bold;
  text-transform: capitalize;
}
.footer li{
  margin: 10px 0;
  font-weight: normal;
  color: #6f8096;
}
.nav_menu img{
  display: table;
  width: 40px;
  height: 40px;
  margin: 10px 0 10px 10px;
}
.header_containter{
  position: relative;
  z-index: 0;
  background-color: #eff3f9;
  transition: all 600ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
.Header img{
  filter: blur(30px);
  height: 400px;
  width: 100%;
}
.header_anim{
  opacity: 0;
}
.Header h2{
  display: table;
  font-family: panama;
  padding-top: 20px;
  margin: 0 auto;
}
.nav_menu_anim{
  padding: 0 50px;
  margin: 0 auto;
}
.Header h1{
  display: table;
  font-family: panama;
  padding-top: 20px;
  font-size: 15px;
  margin: 0 auto;
}

.name{
  margin:0 10px;

}
.active h2 {
  color: #d24a43;
}
.name h1{
  color: #425b73;
  display: table;
  font-size: 23px;
  width: 100%;
}
.social_cont{
  margin: 0 150px;
  color: #6f8096;
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}
.social_flex{
  display: flex;
  align-items: center;
}
.social_cont h1{
  opacity: 1;
}
.social_cont i{
  opacity: 0.68;
}
.social_cont i:hover{
  opacity: 1;
}
.footer{
  padding: 40px 0 20px 0;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 50px rgba(0,0,0,0.08);
  background-color: #fcfcfc;
}
.footer i{
  font-size: 18px;
  margin: 0 5px;
  color: #6f8096;
}
.show_content{
  display: table;
  color: #6f8096;
  opacity: 0.8;
  margin: 0 auto;
}
.show-img-center{
  display: table;
  margin: 0 auto;
  opacity: 0.8;
  margin-top: 20px;

}
.dashed_type{
  display: table;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px dashed #B1CCEF;
}
.dashed_type h1{
  font-size: 30px;
  color: #6f8096;
}
.content_align{
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav > li > a:hover, .nav > li > a:focus{
  text-decoration: inherit;
  background-color: inherit;
}
.btn_black{
  background-color: rgba(242, 72, 65, 0.79);
}
.btn_black :hover{
  background-color: rgba(242, 72, 65, 1);
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.btn_black p{
  padding: 10px;
  color: white;
}
    /*list-style-type: none;*/
.footer_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ab_cont{
  margin: 0 80px;
  text-align: center;
}
.ab_cont h1{
  font-size: 22px;
  color: #506f8c;
}
.ab_cont p{
  text-transform: capitalize;
  margin-top: 15px;
  color: rgb(111, 128, 150);
}
.temp{
  display: flex;

}
.social{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #e6eaee;
}
